##############################
## Terraform
##############################
.terraform/
*.terraform/
.terraform.lock*
secrets.tfvars
.terraform.lock.hcl
*.tfstate*

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Visual Studio
##############################
.vs/

##############################
## SSH
##############################
.ssh/
*.pem

